* {
	margin: 0;
	padding: 0;
	font-family: "Uncial Antiqua";
}
body {
	background-color: black;	
}
#container {
	width: 1100px;
	height: 100vh;
}
#container h1 {
	font-size: 32px;
	text-align: center;
	color: orange;
	/*order 'left','top','blur','colour'* 0px,0px = centered*/
	text-shadow: 0px 0px 8px black;
}
#startGame {
	width: 150px;
	height: 70px;
	/* 'margin 0 auto' centers a block element to a page */
	margin: 0 auto;
	display: block;
	border: 3px ridge red;
	background-color: darkred;
	/*color = foreground color*/
	color: yellow;
	cursor: pointer;
	/*transition and hover work together '0.3s' is how long it takes, 'linear' is the animation option. */ 
	transition: 0.3s linear;
}
#startGame:hover {
	background-color: yellow;
	color: darkred;
	cursor: pointer;
}
.hidden {
	display: none;
}
#gridContainer {
	width: 640px;
	height: 620px;
	float: left;
}
#gridContainer li {
	width: 200px;
	height: 200px;
	background-color: black;
	display: inline-block;
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #D32F2F;
	margin-bottom: 4px;
	transition: 0.3s linear;
}
.gridSquare:hover {
	opacity: 0.5;
	cursor: pointer;
}
#gridContainer li:hover {
	background-color: #B4E4A3;
	cursor: pointer;
}
#inventory {
	width: 230px;
	height: 160px;
	background-color: silver;
	float: left;
	margin-left: 3px;
}
#roomDeck {
	width: 180px;
	height: 260px;
	background-color: black;
	float: left;
	margin-left: 5px;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #5FB0CB;
	margin-top: 5px;
}
#roomDeck:hover {
	box-shadow: 0px 0px 20px #5FB0CB;
	cursor: pointer;
}
#monsterDeck {
	width: 180px;
	height: 260px;
	background-color: black;
	float: left;
	margin-left: 5px;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #B4E4A3;
	margin-top: 5px;
}
#monsterDeck:hover {
	box-shadow: 0px 0px 20px #B4E4A3;
	cursor: pointer;
}
#trash {
	width: 133px;
	height: 160px;
	background-color: silver;
	float: left;
	margin-left: 3px;
}
#healthBar {
	position: absolute;
	width: 400px;
	height: 12px;
	top: 630px;
	left: 10px;
	background-color: black;
}
#healthBar .inner {
	position: absolute;
	width: 100%;
	height: 24px;
	background-color: green;
}
#currancy {
	position: absolute;
	width: 190px;
	height: 24px;
	top: 630px;
	left: 425px;
	background-color: gold;
}
#hand {
	position: absolute;
	width: 424px;
	height: 204px;
	top: 670px;
	left: 210px;
	background-color: black;
}
.draw0, .draw1, .draw2 {
	width: 130px;
	height: 200px;
	display: inline-block;
	background-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #5FB0CB;
}
.draw0:hover, .draw1:hover, .draw2:hover {
	box-shadow: 0px 0px 20px #5FB0CB;
	cursor: pointer;
}
#diceContainer {
	position: absolute;
	width: 350px;
	height: 80px;
	background-color: black;
	top: 440px;
	left: 685px;
}
.dice0, .dice1, .dice2, .dice3 {
	width: 60px;
	height: 60px;
	background-color: black;
	/* use this below if "display: inline-block;" breaks */
	float: left;
	margin: 5px;
	list-style-type: none;
}
.dice0 img, .dice1 img, .dice2 img, .dice3 img {
	width: 60px;
	height: 60px;
}
.dice0, .dice1 {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #5FB0CB;
}
.dice2, .dice3 {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #B4E4A3;
}
.dice1, .dice3 {
	color: red;
	font-size: 40px;
	text-align: center;
}
.dice0:hover, .dice1:hover {
	box-shadow: 0px 0px 10px #5FB0CB;
	cursor: pointer;
}
.dice2:hover, .dice3:hover {
	box-shadow: 0px 0px 10px #B4E4A3;
	cursor: pointer;
}
#rollDiceButton {
	position: absolute;
	top: 520px;
	left: 805px;
	margin-top: 5px;
}
#classSelect {
	position: absolute;
	display: none;
	width: 670px;
	height: 300px;
	background-color: black;
	top: 150px;
	left: 100px;
}
.warrior, .thief, .rogue {
	width: 180px;
	height: 260px;
	float: left;
	margin: 20px;
	list-style-type: none;
	border-radius: 10px;
}
.warrior {
	background: rgb(125,35,35);
	background: radial-gradient(circle, rgba(125,35,35,1) 80%, rgba(249,0,0,1) 100%);
	transition: 0.3s linear;
}
.thief {
	background: rgb(27,83,44);
	background: radial-gradient(circle, rgba(27,83,44,1) 80%, rgba(0,249,37,1) 100%);
	transition: 0.3s linear;
}
.rogue {
	background: rgb(82,35,125);
	background: radial-gradient(circle, rgba(82,35,125,1) 80%, rgba(83,0,249,1) 100%);
	transition: 0.3s linear;
}
.playerClass:hover {
	transform: perspective(500px) rotate(20deg) skew(4deg, 8deg);
	box-shadow: 10px 10px 10px gold;
	cursor: pointer;
}
.title {
	text-align: center;
}
.warrior img {
	margin: 2px;
	width: 170px;
	height: 130px;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
}
.thief img {
	margin: 2px;
	width: 170px;
	height: 130px;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
}
.rogue img {
	margin: 2px;
	width: 170px;
	height: 130px;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
}
.warrior .text {
	text-align: center;
	background-color: #f2f2eb;
	margin: 5px;
	border-radius: 10px;
	border-style: solid;
	border-width: 4px 4px 4px 4px;
}
.thief .text {
	text-align: center;
	background-color: #f2f2eb;
	margin: 5px;
	border-radius: 10px;
	border-style: solid;
	border-width: 4px 4px 4px 4px;
}
.rogue .text {
	text-align: center;
	background-color: #f2f2eb;
	margin: 5px;
	border-radius: 10px;
	border-style: solid;
	border-width: 4px 4px 4px 4px;
}
.selectedPlayer {
	position: absolute;
	top: 650px;
	left: -10px;
}
#statContainer {
	position: absolute;
	width: 415px;
	height: 40px;
	background-color: black;
	top: 890px;
	left: 210px;
}
.strBox, .dexBox, .agiBox, .wisBox, .lckBox {
	width: 64px;
	height: 33px;
	background-color: #d1d1cb;
	float: left;
	margin-left: 15px;
	margin-top: 2px;
	list-style-type: none;
	
}
	
	
	
	
	
	













